################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CashDesk/v15/Server/sqlite3
/.vs/CashDesk/v15
/CashDesk/bin/Debug/netcoreapp2.0
/CashDesk/obj
/CashDesk.Tests/bin/Debug/netcoreapp2.0
/CashDesk.Tests/obj
/.vs
